.button {
    -fx-font-size:28pt;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat; 
    -fx-text-fill: white;
    -fx-opacity: 0.8;
    -fx-underline: true;
    -fx-background-position: center;
    -fx-background-image: url('../img/button.png'); 
}

